body {
    margin: 0;
    height: 100%;
    width: 100%;
    background: linear-gradient( to top,#0001,transparent,#0001); radial-gradient
    text-align: center;
}
.box {
    width: 280px;
    background: #e2e2e2;
    margin:auto;
    margin-top: 30px;
    margin-bottom: 30px;
    box-shadow: 0 0 10px 0 #0007;
    padding: 20px;
    box-sizing: border-box;
    text-align: center;
    border-radius: 5px;
}
.content {
    color:#000a;
    font-family: sans-serif;
    text-align: justify;
    text-decoration: solid;
    line-height: 1.5;
    list-style: none;
    font-size: 13px;
    text-align: center;
}
.card-title {
    font-size: 20px;
    margin-top: 5px;
    color: #000;
    letter-spacing: 1px;
    font-weight:100 ;
    text-shadow: 0 0 3px #0008;
    text-transform: uppercase;
    font-family: sans-serif;
}
.card-subtitle {
    font-size: 16px;
    margin-top: 5px;
    color: #222;
    text-shadow: 0 0 3px #0006;
    letter-spacing: 0;
    font-weight:100 ;
    font-family: sans-serif;
    text-transform: uppercase;
    text-decoration: underline;
}
.image {
    width:160px;
    border-radius: 100%;
    margin: auto;
    box-shadow: 0 0 40px 0 #0007;
    filter: drop-shadow(0 0 3px #0007)
}
.box-title {
    width: 100%;
    height: 30px;
    background: #e2e2e2;
    margin: auto;
    margin-top: 5px;
    margin-bottom: 20px;
    box-shadow: 0 0 3px 0 #0007;
    padding:1px;
    box-sizing: border-box;
    text-align:center;
    font-size: 5px;
    font-family: sans-serif;
    text-shadow: 0 0 1px #000a;
    color:#444;
    letter-spacing: 0.5px;
    text-transform: uppercase;
    border-radius: 3px;
}
.box-contact {
    width: 100%;
    height: 60px;
    background: #e2e2e2;
    margin: auto;
    margin-top: 1px;
    margin-bottom: 5px;
    box-shadow: 0 0 3px 0 #0007;
    padding:1px;
    box-sizing: border-box;
    text-align:center;
    font-size: 5px;
    font-family: sans-serif;
    text-shadow: 0 0 1px #000a;
    color:#444;
    letter-spacing: 0.5px;
    text-transform: uppercase;
    border-radius: 3px;
}
.whatsapp {
    width: 20px;
    padding-right: 5px;
    filter: drop-shadow(0 0 3px #0007);
}
.mail {
    width: 22.5px;
    filter: drop-shadow(0 0 3px #0007);
    padding-left: 5px;

}
.box-contact-inside {
    width: 20px;
    margin: auto;
    margin-bottom: 10px;
    width: 60px;
    box-sizing: 100px;
    background: #e2e2e2;
    padding:1px;
    color:#444;
    border-radius: 3px;

}